# macOS
.DS_Store

# Editors / IDEs
.vscode/
.idea/
*.iml

# Node / web
node_modules/
.next/
out/
npm-debug.log*
yarn-error.log*

# Gradle / Android
.gradle/
build/
local.properties
captures/
.kotlin/
*.hprof

# Xcode
xcuserdata/
*.xcuserstate
DerivedData/
*.xcscmblueprint
*.xccheckout
