<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>umain-cc.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5EC22DF64BDAA283D2257AFAD4880C3764D50DD1</string>
				<key>dateExpires</key>
				<string>30/05/2025</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9N8ZC32DMP.com.umain.qa-test</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9N8ZC32DMP</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>umain-cc.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2ad49c1c-9163-4cfa-96d0-db50df2b56fc</string>
				<key>dateExpires</key>
				<string>30/05/2025</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.umain.qa-test</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9N8ZC32DMP</string>
				<key>name</key>
				<string>apegroup AB</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
