
@import "variables"; 

.new-line {
  display: block;
}

.filter-panel {
  width: 191px;
  padding: 24px;
  background-color: $themeWhite;
  border: 0.6px solid $themeBorder;
  border-radius: 10px;
  float: left;
  margin-right: 25px;
}

@media (max-width: 700px) {
  .filter-panel {
    width: 100%;
    padding: 0;
    display: block;
    float: none;
    background-color: transparent;
    border: none;
  }

  #filter-panel-title {
    display: none !important;
  }

  #filter-panel-food-categories {
    display: none;
  }
}


