@import "variables";

:export {
  themeWhite: $themeWhite;
  themeBorder: $themeBorder;
  themeGray: $themeGray;
  themeBlack: $themeBlack;
  themeGreen: $themeGreen;
  themeButtonSelected: $themeButtonSelected;
}