:root {
  --theme-white: #ffffff;
  --theme-border: rgba(0, 0, 0, 0.1);
  --theme-gray: #fafafa;
  --theme-black: #000000;
  --theme-green: #00703a;
  --theme-button-selected: lightgray;
}

body {
  background-color: var(--theme-gray);
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px
}
::-webkit-scrollbar-track {margin-top: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 10px;
}






